<% execBoard.forEach(function (item) { %>
	<h2><a href="mailto:<%= item['email'] %>"><%= item['name'] %></a></h2>
	<h3><%= item['title'] %></h3>
	<img class="bioimg" src="<%= item['img'] %>">
	<%- item['bio'] %>
	<br/>
<% }); %>