<!-- Start departments section -->
<div id="#departmentsection">
	<h1 class="text-center"><strong>DEPARTMENTS</strong></h1>

	<ul class="row">
	<% departments.forEach(function (department) { %>
		<li class="department col-sm-4 col-xs-12">
			<a href="<%= department['url'] %>">
				<img src="<%= department['img'] %>" alt="<%= department['name'] %>" class="departmenticon">
			</a>
			<h3><strong><%= department['name'] %></strong></h3>
			<%- department['html'] %>
		</li>
	<% }); %>
	</ul>
	
</div>
<!-- End departments section -->