<!-- Start departments section -->
<div id="#departmentsection">
	<h1 class="text-center"><strong>DEPARTMENTS</strong></h1>

	<% departments.forEach(function (row) { %>
		<ul class="row">
			<% row.forEach(function (department) { %>
				<li class="department col-xs-4">
					<a href="<%= department['url'] %>">
						<img src="<%= department['img'] %>" alt="<%= department['name'] %>" class="departmenticon">
					</a>
					<strong><%= department['name'] %></strong>
					<%- department['html'] %>
				</li>
			<% }); %>
		</ul>
	<% }); %>
	
</div>
<!-- End departments section -->