<ul id="navbar"><!-- jMenu class is added, too -->

	<% var parseList = function (json, prefix) { %>
		<% if (prefix === "") { %>
			<ul id="navbar" class="jMenu">

			<% Object.keys(json).forEach(function (item) { %>
				<li class="jmenu-level-0">
					<% var itemobj = json[item]; %>
					<% // console.log(itemobj); %>
					<% if (Object.keys(itemobj['children']).length > 0) { %>
						<a href="<%= prefix + '/' + item %>"><%= itemobj['title'] %> <span class="ui-icon ui-icon-carat-1-s"></span></a>
						<% // console.log("recursive call from 1st level"); %>
						<% parseList(itemobj['children'], prefix + "/" + item); %>
					<% } else { %>
						<a href="<%= prefix + '/' + item %>"><%= itemobj['title'] %></a>
					<% } %>
				</li>
			<% }); %>
		<% } else { %>
			<ul>
			<% Object.keys(json).forEach(function (item) { %>
				<li>
					<% var itemobj = json[item]; %>
					<% // console.log(itemobj); %>
					<% if (Object.keys(itemobj['children']).length > 0) { %>
						<a href="<%= prefix + '/' + item %>"><%= itemobj['title'] %> <span class="ui-icon ui-icon-carat-1-s"></span></a>
						<% // console.log("recursive call"); %>
						<% parseList(itemobj['children'], prefix + "/" + item); %>
					<% } else { %>
						<a href="<%= prefix + '/' + item %>"><%= itemobj['title'] %></a>
					<% } %>
				</li>
			<% }); %>
		<% } %>

		</ul>
		
	<% } %>

	<% parseList(navbar, ""); %>
	
</ul>