<ul id="navbar"><!-- jMenu class is added, too -->

	<% var parseList = function (json, prefix) { %>
		<% if (prefix === "") { %>
			<ul id="navbar" class="jMenu">

			<% Object.keys(json).forEach(function (item) { %>
				<li class="jmenu-level-0">
					<% var itemobj = json[item]; %>
					<% // console.log(itemobj); %>
					<% if (Object.keys(itemobj['children']).length > 0) { %>
						<a href="<%= prefix + '/' + item %>"><%= itemobj['title'] %> <span class="ui-icon ui-icon-carat-1-s"></span></a>
						<% // console.log("recursive call from 1st level"); %>
						<% parseList(itemobj['children'], prefix + "/" + item); %>
					<% } else { %>
						<a href="<%= prefix + '/' + item %>"><%= itemobj['title'] %></a>
					<% } %>
				</li>
			<% }); %>
		<% } else { %>
			<ul>
			<% Object.keys(json).forEach(function (item) { %>
				<li>
					<% var itemobj = json[item]; %>
					<% // console.log(itemobj); %>
					<% if (Object.keys(itemobj['children']).length > 0) { %>
						<a href="<%= prefix + '/' + item %>"><%= itemobj['title'] %> <span class="ui-icon ui-icon-carat-1-s"></span></a>
						<% // console.log("recursive call"); %>
						<% parseList(itemobj['children'], prefix + "/" + item); %>
					<% } else { %>
						<a href="<%= prefix + '/' + item %>"><%= itemobj['title'] %></a>
					<% } %>
				</li>
			<% }); %>
		<% } %>

		</ul>
		
	<% } %>

	<% parseList(navbar, ""); %>

	<!--
	<li><a href="#">About Us <span class="ui-icon ui-icon-carat-1-s"></span></a>
		<ul>
			<li><a href="#">Mission Statement</a></li>
			<li><a href="#">Goals - Vision 2024</a></li>
			<li><a href="#">Timeline</a></li>
			<li><a href="#">Executive Board</a></li>
			<li><a href="#">How We Started</a></li>
			<li><a href="#">Why We're Different</a></li>
			<li><a href="#">Inspirations</a></li>
			<li><a href="#">Bylaws</a></li>
			<li><a href="#">Articles</a></li>
			<li><a href="#">Obstacles</a>
				<ul>
					<li><a href="#">Budgetary</a></li>
					<li><a href="#">Technology</a></li>
					<li><a href="#">Expertise</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li><a href="#">Rocket Manifest <span class="ui-icon ui-icon-carat-1-s"></span></a>
		<ul>
			<li><a href="#">Phase I</a></li>
			<li><a href="#">Phase II</a><li>
			<li><a href="#">Phase III</a></li>
		</ul>
	</li>

	<li><a href="#">Departments <span class="ui-icon ui-icon-carat-1-s"></span></a>
		<ul>
			<li><a href="#">Avionics</a></li>
			<li><a href="#">Launch Systems</a></li>
			<li><a href="#">Propulsion</a></li>
			<li><a href="#">Special Projects</a></li>
			<li><a href="#">Structures</a></li>
			<li><a href="#">Outreach</a></li>
			<li><a href="#">Safety</a></li>
		</ul>
	</li>
	<li><a href="#">Contact <span class="ui-icon ui-icon-carat-1-s"></span></a>
		<ul>
			<li><a href="http://sab.ae.illinois.edu/sponsorship.php">Sponsorship</a></li>
			<li><a href="#">Support Us</a></li>
			<li><a href="#">Prospective Students</a></li>
			<li><a href="#">Merchandise</a></li>
			<li><a href="#">Contact Form</a></li>
		</ul>
	</li>
	<li><a href="#">FAQ</a></li>
	<li><a href="https://www.google.com/">Media <span class="ui-icon ui-icon-carat-1-s"></span></a>
		<ul>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Videos</a></li>
			<li><a href="#">Social Media</a></li>
			<li><a href="#">Newsletter Archive</a></li>
		</ul>
	</li>
	-->
</ul>