<% if (ejsPath == "departments/avionics.ejs") { %>
	<%- include departments/avionics.ejs %>
<% } else if (ejsPath == "departments/launchsystems.ejs") { %>
	<%- include departments/launchsystems.ejs %>
<% } else if (ejsPath == "departments/outreach.ejs") { %>
	<%- include departments/outreach.ejs %>
<% } else if (ejsPath == "departments/propulsion.ejs") { %>
	<%- include departments/propulsion.ejs %>
<% } else if (ejsPath == "departments/safety.ejs") { %>
	<%- include departments/safety.ejs %>
<% } else if (ejsPath == "departments/specialprojects.ejs") { %>
	<%- include departments/specialprojects.ejs %>
<% } else if (ejsPath == "departments/structures.ejs") { %>
	<%- include departments/structures.ejs %>
<% } else if (ejsPath == "departments.ejs") { %>
	<p>In order to accomplish our lofty goals, we have divided the club into six departments: Structures, Propulsion, Avionics, Launch Systems, Special Projects, and Outreach.  Within each of these departments, our members work of small tech projects that will eventually be used on the “Main Phase” rockets.  This allows them to get advanced experience in their chosen specialty while making meaningful contributions to the club.</p>
<% } %>